.DS_Store
*.swp
*.*~
.*~
*.d
*.o
*.a
.settings
gcov_*.txt
*.gcov
*.gcno
*.gcda
*_tests
*a.out
*.zip
tmp
gcov
objs
lib
*_tests.txt
gcov*.html
.metadata
Debug
*/Debug/*
*.exe
*.obj
*.ncb
*.opt
*.plg
*.idb
*.pdb
*.sou
*.sdf
*.lib
*.log
*.tlog
*.cache
*.user
